:root {
  --primary: #642387;
  --disabled: #af81c5;
  --activated: #8e02da;
  --primary-transparent: #6423871A;
  --primary-dark: #26003A;
  --threshold-0-color: 0, 101, 22;
  --threshold-0: rgba(var(--threshold-0-color), 0.1);
  --threshold-0-dark: rgb(var(--threshold-0-color));
  --threshold-1-color: 167, 130, 0;
  --threshold-1: rgba(var(--threshold-1-color), 0.1);
  --threshold-1-dark: rgb(var(--threshold-1-color));
  --max-threshold-color: 162, 0, 0;
  --max-threshold: rgba(var(--max-threshold-color), 0.1);
  --max-threshold-dark: rgb(var(--max-threshold-color));
  --border-radius: 16px;
  --margin: 2rem;
  --half-margin: 1rem;
  --double-margin: 4rem;
}

body {
  background-color: var(--primary-dark);
  margin: 0;
}

p {
  font-size: 22px;
  font-weight: 300;
}

.instruction-1 {
  border-width: 1px;
  border-bottom: rgba(0, 0, 0, 0.1) solid;
}

.instruction-2 {
  display: grid;
  grid-template-columns: 1fr 7fr;
  column-gap: 10px;
  margin: var(--half-margin) 0;
}

.instruction-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instruction-3 p {
  min-width: 200px;
}

.badge-text {
  font-weight: 500;
  margin: 0;
}

.thin {
  font-weight: 300;
}

.title-word {
  color: #FFF;
  text-align: center;
  font-size: 34px;
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card {
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 40%;
  margin: var(--margin) auto;
}

@media (max-width: 1000px) {
  .card {
    width: 90%;
  }
}

#header-bar {
  padding: 16px 0;
  width: 100%;
  background-color: var(--primary);
  color: white;
  text-align: center;
}

.big-button-container {
  margin: var(--margin) auto;
  width: 30%;
  aspect-ratio: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.big-button-container:focus {
  outline: none;
}

.big-button {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 0.5s ease;

}

.disabled {
  background-color: var(--disabled);
}

.guess-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: var(--half-margin);
  gap: var(--half-margin);
}

.guess {
  background-color: var(--primary-transparent);
  border-radius: var(--border-radius);
  overflow: hidden;
  /* TODO: This should only apply to the numbered guesses */
  padding: 0 var(--margin)
}

.indicator {
  padding: 0;
  text-align: center;
  background-color: var(--max-threshold);
  color: var(--max-threshold-dark)
}

.guess-text {
  font-weight: 400;
  color: var(--primary-dark);
}

.score-0 {
  background-color: var(--threshold-0);
  color: var(--threshold-0-dark);
}

.score-1 {
  background-color: var(--threshold-1);
  color: var(--threshold-1-dark);
}

.activated {
  background-color: var(--activated);
  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: grow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes grow {

  0%,
  14%,
  41%,
  54%,
  70%,
  87%,
  98% {
    transform: scale(1);
  }

  8%,
  25%,
  50%,
  62%,
  80%,
  92% {
    transform: scale(0.9);
  }
}

.modal {
  border-radius: var(--border-radius);
  padding: var(--margin) var(--double-margin);
  min-width: 200px;
  width: 35%;
  max-height: 85%;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}